#body--input {
    width: 100%;
}

.error {
    border: solid #D32F2F;
    border-radius: 6px;
	color: red;
}

#body__boton--agregar {
    width: 100%;
}

.body {
    background-image: url(./images/fondoRasta.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.body__main-div{
    height: 150px;
}

.titulo {
    text-align: center;
    font-family: Georgia, Times, 'Times New Roman', serif;
}